<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Notes App</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font-sans: system-ui, -apple-system, BlinkMacsSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neve",
      sans-serif;
    --color-bg: #0b090d;
    --color-text: #dadada;
    --color-primary: #1d294d;
    --border-color: color-mix(
      in srgb,
      var(--color-text) 4%,
      var(--color-primary) 30%
    );
  }

  html {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  html.light {
    --color-bg: #dadada;
    --color-text: #0b090d;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  p {
    line-height: 1.6;
  }
</style>
